body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
  font-family: bignoodletitling;
  background-color: rgb(219, 219, 219);
}


div.img-area {
  height: 400px;
  width: 100%;
  background: url("wemadeit.gif");
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.form-area {
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.right-text {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 400px;
  background-color: #fff;
}

.right-text a {
  margin-top: 10px;
  text-decoration: none;
  padding: 7px 10px;
  background-color: rgb(122, 3, 3);
  color: white;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.right-text input {
  margin-top: 10px;
}

.right-text textarea {
  margin-top: 10px;
}